# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

firmware/[Rr]elease/
firmware/[Dd]ebug/
kicad/rev.2.0/DiLight_2.0-backups/
kicad/rev1.0/DiLight-backups/
kicad/rev1.1/DiLight_1.1-backups/